name: audio_cinema_studio
description: Cinema-grade audio processing app powered by an external FFmpeg engine
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  # File picker (Android-safe, v2 embedding)
  file_picker: ^8.3.7

  # Launch Termux commands safely
  android_intent_plus: ^5.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
