
name: Build Cinema Audio APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install deps
        run: flutter pub get

      - name: Build debug APK
        run: flutter build apk --debug

      - uses: actions/upload-artifact@v4
        with:
          name: cinema_audio_debug_apk
          path: build/app/outputs/flutter-apk/app-debug.apk
