name: Init Flutter App (One Time)

on:
  workflow_dispatch:

jobs:
  init:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Initialize Flutter project
        run: flutter create .

      - name: Upload generated files
        uses: actions/upload-artifact@v4
        with:
          name: flutter-generated
          path: |
            android
            ios
            pubspec.yaml
